<html>
    <head>
        <title>Send a Message</title>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Mass messaging application for hackathon organizers" />
        <meta name="author" content="Hunter Praska" />

        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet">
    </head>
    <body class="blue-grey darken-4 teal-text text-accent-2">
        <div class="container">
            <div class="row">
                <form class="col s12">
                    <div class="input-field col s12">
                        <textarea id="message" class="materialize-textarea" length="160"></textarea>
                        <label for="message">Message</label>
                    </div>
                    <div class="col s4 offset-s4 center">
                        <a class="waves-effect waves-light btn" type="submit" name="action">Submit</a>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    </body>
</html>
